html
    head
        title Registro de usuarios
        link(rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://getbootstrap.com/docs/5.0/examples/sign-in/signin.css")
        meta(name="theme-color" content="#7952b3")
    body(class="text-center" anx="4C")
    main(class="form-signin")
        form(action="/registroUser" method="post")
            img(
            width="272"
            height="140"
            class="mb-4"
            src="./img/UdeC.png")
            h1(class="h3 mb-3 fw-normal") Registro de usuario
            div(class="form-floating")
                input(
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="shecoomontano"
                    name="username")
                label Username
            div(class="form-floating")
                input(
                    type="email"
                    class="form-control"
                    id="floatingInput"
                    placeholder="name@example.com"
                    name="email")
                label Correo Electrónico
            div(class="form-floating")
                input(type="password" class="form-control" id="floatingPassword" placeholder="Password" name="pass")
                label Contraseña
            button(class="w-100 btn btn-lg btn-primary" type="submit" name="registro") Registrarme
            button(class="w-100 btn btn-lg btn-success" type="submit" name="back") Regresar
            
            
            p(class="mt-5 mb-3 text-muted") © 2022
                